*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    max-width: 800px;
    margin: 30px auto;
    padding: 30px;
    box-shadow: 2px 2px 3px 3px rgb(173, 171, 171);
    border-radius: 8px;
}
input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid black;
    outline: 0;
    margin: 15px 0;
}
textarea {
    width: 100%;
    border-radius: 8px;
    border: 2px solid black;
    outline: 0;
    margin: 15px 0;
}
label {
    font-size: 20px;
    font-weight: 600;
}
.error {
    border: 2px solid red;
}

.text-red {
    color: red;
}
.form-validaton {
    margin: 30px 0;
}

span {
    display: block;
    margin-bottom: 10px;
    font-size: 23px;
}

.form-validaton .container {
    background-color: rgb(214, 236, 236);
}